node_modules/
.env
dist/
*.log
.DS_Store
build/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.idea/
.vscode/
*.iml
*.ipr
*.iws
.packages
pubspec.lock
.gradle/
local.properties
*.apk
*.ap_
*.aab
